<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/components::header">
<body>
<div th:replace="fragments/components::menu"></div>
<div class="container mt-1">
    <div class="shadow p-3 mb-5 bg-body rounded">
        <h2 class="form-heading text-center">My manufactured products</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th> Name</th>
                <th> Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${productList.isEmpty()}">
                <td colspan="2"> No Products Available</td>
            </tr>
            <tr th:each="product : ${productList}">
                <td><span th:text="${product.name}"> Name </span></td>
                <td><span th:text="${product.price}"> Price </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:include="fragments/components::bootstrap_script"/>
</body>
</html>