<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/components::header">
<body>
<div th:replace="fragments/components::menu"></div>
<div class="container mt-1">
    <div class="shadow p-3 mb-5 bg-body rounded">
        <h2 class="form-heading text-center">Products you can buy</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th> Name</th>
                <th> Price</th>
                <th> Stock</th>
                <th> Sold by</th>
                <th> Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${productList.isEmpty()}">
                <td colspan="2"> No Products Available</td>
            </tr>
            <tr th:each="product : ${productList}">
                <td><span th:text="${product.getProduct().name}"> Name </span></td>
                <td><span th:text="${product.price}"> Price </span></td>
                <td th:if="${product.stock==0}">SOLD OUT</td>
                <td th:if="${product.stock!=0}"><span th:text="${product.stock}"> Stock </span></td>
                <td><span th:text="${product.getUser().username}"> Sold by </span></td>

                <form name="processClientPurchase" method="POST" th:action="@{/processClientPurchase}">
                    <input th:value="${product.getId()}" type="hidden" value="1" id="id" name="id">
                    <td><input th:value="${buyQuantity}" type="number" value="1" id="stock" name="buyQuantity" min="1" th:max="${product.stock}"></td>
                    <td><button type="submit" class="btn btn-primary" th:disabled="${product.stock==0}">Buy</button></td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:include="fragments/components::bootstrap_script"/>
</body>
</html>