<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/components::header">
<body>
<div th:replace="fragments/components::menu"></div>
<div class="container mt-1">
    <div class="shadow p-3 mb-5 bg-body rounded">
        <h2 class="form-heading text-center">Receipts</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th> Date</th>
                <th> Item</th>
                <th> Item Price</th>
                <th> Quantity</th>
                <th> Bought from</th>
                <th> Final amount</th>

            </tr>
            </thead>
            <tbody>
            <tr th:if="${receipts.isEmpty()}">
                <td colspan="2"> No Receipts Available</td>
            </tr>
            <tr th:each="receipt : ${receipts}">
                <td><span th:text="${receipt.date}"> Date </span></td>
                <td><span th:text="${receipt.productName}"> Name </span></td>
                <td><span th:text="${receipt.unitPrice}"> Price </span></td>
                <td><span th:text="${receipt.quantity}"> Quantity </span></td>
                <td><span th:text="${receipt.dealer}"> Bought from </span></td>
                <td><span th:text="${receipt.amount}"> Final amount </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:include="fragments/components::bootstrap_script"/>
</body>
</html>